<div>
    <h2>Órarendek</h2>
    <div class="overflow-area">
        <table>
            <tbody>
              <tr>
                <td>H</td>
                <td>K</td>
                <td>Sz</td>
                <td>Cs</td>
                <td>P</td>
                <td>Szo</td>
                <td>V</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
            </table>
        </div>
    <h4>Verzió: 2.0.1</h4>
    <p></p>
    <a routerLink="/">Vissza</a>
</div>
